.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}
.logo-text{
    text-decoration: none;
    color: #333;
}

.nav-link{
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.nav{
    display: flex;
}

.nav-link:hover{
    color:  #007bff;
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab:hover {
  background: #0056b3;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  
   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modal h3 {
  margin-bottom: 10px;
}

.modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.modal button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #007bff;
  color: white;
  font-weight: 600;
}

.modal button[type="button"] {
  background: #ccc;
  color: black;
}
