.sidebar {
  width: 320px;   /* вместо 500px */
  height: 100vh;
  flex-shrink: 0;
  background: #0f172a; /* темный современный */
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e293b;
}

.sidebar-logo-container{
    display: flex;
    justify-content: center;
}

.sidebar-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #f8fafc;
  margin-bottom: 32px;
}

.logo-emoji {
  margin-left: 6px;
}


.sidebar-profile {
  display: flex;
  flex-direction: column;   /* теперь вертикально */
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 32px;
}

.sidebar-avatar-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #6366f1;
  background: transparent;   /* ← убери тёмный фон */
}

.sidebar-avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* ← обязательно cover */
  display: block;      /* убирает лишние отступы */
}

.sidebar-avatar-wrapper:hover {
  transform: scale(1.05);
}

.sidebar-username {
  font-size: 0.95rem;
  font-weight: 600;
  color: #f1f5f9;
}

.sidebar-status {
  font-size: 0.65rem;
  color: #22c55e;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #94a3b8;
  text-decoration: none;
  transition: all 0.2s ease;
}

.sidebar-link:hover {
  background: #1e293b;
  color: #ffffff;
}

.sidebar-link.active {
  background: #6366f1;
  color: white;
}

.soon-tag {
  margin-left: auto;
  font-size: 0.65rem;
  padding: 2px 6px;
  border-radius: 6px;
  background: #334155;
  color: #94a3b8;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-logout {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: #f87171;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-logout:hover {
  background: #7f1d1d;
  color: white;
}

body {
  margin: 0;
  background: #f1f5f9;
  font-family: Inter, sans-serif;
}